body, html, #root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./movie-theater-background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkred;
}

.App {
  width: 55%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  padding: 50px;
}

.movie-form label, .movie-form input, .movie-form select {
  display: block;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

button {
  margin-top: 15px;
}

.movie {
  padding: 5px;
  margin: 5px;
}